* {
    margin: 0;
    padding: 0;
}

body {
    background-color: whitesmoke;
    z-index: 2;
}

.banner {
    background: url('cheeseburger.jpg');
    height: 100%;
    position: fixed;
    left: 0;
    right: 0;
    opacity: 0.1;
    z-index: -1;
}

.logo {
    border-radius: 50%;
}

#quote-container {
    margin: 0 auto;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    align-items: center;
}

#quote-container ul {
    display: flex;
    justify-content: space-between;
    gap: 4px;
    list-style: none;
}

.card {
    border: 1px solid black;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
}

#single {
    background-color: red;
    color: white;
}

#double {
    background-color: blue;
    color: white;
}

#triple {
    background-color: yellow;
    color: black;
}

#burger-icon {
    font-size: 2rem;
}

.btn-container {
    display: flex;
    justify-content: left;
}

#cancel {
    display: none;
    margin: 0 auto;
    margin-bottom: 5px;
    margin-top: 0;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    text-align: center;
    border: 1px solid red;
    cursor: pointer;
    outline: none;
}

#cancel:hover {
    background-color: red;
    color: white;
}
